<% include ../includes/header %>
<div class="rec_content">
		<div class="container clearfix">
		
			<!-- 热门推荐 -->
			<div class="hot_container fr">
				<div class="hot_title">
					<span class="red_block"></span>
					<span class="tit_content">热门推荐</span>
				</div>

				<div class="hot_list clearfix">
					<div class="hot_pic fl">
						<a href="">
							<img style="width: 64px;" src="https://i.huim.com/contents/14827585534999.png!45x45.jpg" alt="">
						</a>
					</div>
					<div class="hot_info fl">
						<div class="hot_tit">
							<a href=""><p>10点开抢# 聚划算4月4日 秒杀/免单/半价活动内容 超</p></a>
						</div>
						<div class="hot_action">
							<span class="hot_num">浏览1000</span>
							<span class="hot_comment">评论2750</span>
						</div>
					</div>			
				</div>
				<div class="hot_list clearfix">
					<div class="hot_pic fl">
						<a href="">
							<img style="width: 64px;" src="https://i.huim.com/contents/14827585534999.png!45x45.jpg" alt="">
						</a>
					</div>
					<div class="hot_info fl">
						<div class="hot_tit">
							<a href=""><p>10点开抢# 聚划算4月4日 秒杀/免单/半价活动内容 超</p></a>
						</div>
						<div class="hot_action">
							<span class="hot_num">浏览1000</span>
							<span class="hot_comment">评论2750</span>
						</div>
					</div>			
				</div>
			</div>
			
			<!-- 每日推荐 -->

			<div class="rec_container">
				<% discounts.forEach(function(item){ %>
				<div class="rec_list shadow clearfix">
					<div class="list_pic fl">
						<a href="/discount/<%= item.id %>" target="_blank"><img width="215px;" src="<%= item.img %>" alt=""></a>
					</div>
					<div class="list_info fl">
						<p class="list_tit">
							<a href="/discount/<%= item.id %>" target="_blank"><%= item.title %></a>
						</p>
						<p class="list_price">
							<a href="/discount/<%= item.id %>" target="_blank"><%= item.key %></a>
						</p>
						<div class="list_doc">
							<p><%= item.intro %></p>
						</div>
						<div class="list_action">
							<p class="list_page">
								<span class="pub_time"><i class="fa fa-clock-o"></i> 今天6:30</span>
								<span class="bro_num"> &nbsp&nbsp&nbsp&nbsp1000人浏览</span>
							</p>
							<a class="btn_buy" target="_blank" href="<%= item.site %>"><i class="fa fa-shopping-cart"></i> &nbsp前往购买</a>
						</div>
					</div>
				</div>
				<% }) %>
				
				<div class="site_page">
					<span class="page_area clearfix">
						<a class="page_prev" title="上一页" href=""><</a>
						<% for(var i = 0; i < Math.ceil(length/5); i++){ %>
							<a class="page_box" href="/page/<%= i+1 %>"><%= i+1 %></a>
						<% } %>
										
						<a title="下一页" href="">></a>
					</span>
				</div>
			</div>

			<!-- 左道航 -->
			<div class="side_nav">
				<div class="side_nav_tit">
					<a class="side_nav_img" href=""><img style="width: 18px;" src="/images/class.png" alt=""></a>
					<a class="side_title" href=""><p>分类筛选</p></a>
				</div>

				
			</div>
		
		</div>			
	</div>

<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/category_list.js"></script>
<% include ../includes/footer %>