<% include ../includes/header %>
<div class="container">
	<div class="coupon_content clearfix">
		<div class="coupon_main fl">
			<div class="coupon_chaozhi">
				<p class="side_item_title">
					<i></i>充值优惠券
				</p>
				<ul class="coupon_zhi_wrap clearfix">
					<% themes.forEach(function(item){ %>
					<li class="fl">
						<a href="/theme/<%= item._id %>">
							<img src="<%= item.img %>" alt="<%= item.name %>">
							<%= item.name %>
						</a>
					</li>
					<% }) %>
					
				</ul>
			</div>
		</div>
		<div class="coupon_side fl">
			<div class="side_charts">
				<p class="side_item_title">
					<i></i>领取排行榜
				</p>
				<ul class="side_charts_content">
					<% categories.forEach(function(item, index){ %>
					<li>
						<a class="clearfix" target="_blank" href="/theme/<%= item.theme._id %>/<%= item._id %>">
						<% if( index+1 <= 1 ){ %>
							<i class="hot_t1 fl"><%= index+1 %></i>
						<% }else if( index+1 <= 3 ){ %>
							<i class="hot_t2 fl"><%= index+1 %></i>
						<% }else{ %>
							<i class="fl"><%= index+1 %></i>
						<% } %>
							<span class="coupon_mall"><img src="<%= item.theme.img %>" alt=""></span>
							<span class="coupon_text">
								<span class="coupon_text_tit"><%= item.theme.name %></span>
								<span class="coupon_text_txt"><%= item.title.split(item.theme.name)[1] %></span>	
							</span>
						</a>
					</li>
				<% }) %>

				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/javascripts/moment.js"></script>
<% include ../includes/footer %>
